// container
.filter-modal {
  width: 100%;
  height: calc(100vh - 108px);
  background: #fff;
  position: fixed;
  top: -100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  visibility: hidden;
  transition: $delay-normal;
  &::-webkit-scrollbar {
    display: none;
  }
  &.visible {
    top: 108px;
    visibility: visible;
  }
}

// menu
.filter-modal {
  &__menu {
    padding: 3px $blank-xs 3px 0;
    background: #eee;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid $c-secondary;
    text-align: right;
  }
  &__close-btn {
    width: 30px;
    height: 30px;
    background: #fff;
    border: unset;
    border-radius: 50%;
    outline: unset;
    line-height: 30px;
    opacity: 0.7;
    & img {
      transform: translateY(-2px);
    }
  }
}

// ul list
.filter-modal {
  &__list {
    text-align: center;
  }
  &__option {
    padding: $blank-xxs 0px;
    cursor: pointer;
    &:active {
      background: #bbb;
    }
    @media (hover: hover) {
      &:hover {
        background: #bbb;
      }
    }
  }
}
