// hero image
.pl__hero__top {
  height: 360px;
}

.pl__headline {
  padding-top: $blank-l;
  padding-bottom: $blank-m;
  word-spacing: 1.5rem;
}

// aside
.pl__aside {
  flex: 0 0 150px;
  align-self: start;
  position: sticky;
  top: 120px;
}

.pl__filter__link a {
  display: block;
}

// listing
.pl__listing {
  flex-grow: 1;
  &__card {
    margin-bottom: $blank-s;
  }
  &__image-top {
    @include responsive-rec(80%);
  }
  &__title {
    margin-top: $blank-xxs;
  }
}

// button to show filter modal
.pl__open-filter-btn {
  width: 60px;
  height: 60px;
  position: fixed;
  right: -100px;
  bottom: $blank-m;
  background: $c-link;
  border: unset;
  border-radius: 50%;
  outline: unset;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  font-size: $f-size-s;
  transition: $delay-normal;
  &.visible {
    right: 18px;
  }
}
