// partner
.partner__container {
  padding: $blank-m 0;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.partner__card {
  width: 300px;
  margin-right: $blank-xs;
  border: 1px solid $c-secondary;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.partner__photo {
  height: 24vh;
  border-bottom: 1px solid $c-secondary;
  border-radius: 10px 10px 0 0;
}

.partner__name {
  margin-top: 12px;
}

.partner__info {
  padding-left: 10px;
}

@media screen and (max-width: 576px) {
  .partner__photo {
    height: 30vh;
  }
}
