// product
.product__container {
  padding: $blank-m 0;
}

.product__card {
  text-align: center;
  font-size: $f-size-l;
  &:active .product__image {
    filter: brightness(75%);
  }
}

.product__image-top {
  @include responsive-rec(100%);
  overflow: hidden;
}

@media (hover: hover) {
  .product__card:hover .product__image {
    filter: brightness(75%);
    transform: translateZ(0) scale(1.15);
  }
  .product__image {
    transition: $delay-normal;
  }
}
